.tags {
    
    li {
        display: inline;
        text-transform: lowercase;
        
        &:not(:last-child):after {
            content: ', ';
        }

        @media only screen and (max-width: 767px) {
            & {
                font-size: 0.9rem;
            }
        }
    }
}