@font-face {
    font-family: 'PP Bitmap';
    src: url('/fonts/ppmondwest-regular.woff2') format('woff2'),
         url('/fonts/ppmondwest-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'PP Bitmap';
    // src: url('/fonts/ppneuebit-bold.woff2') format('woff2'),
    src: url('/fonts/ppneuebit-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'MS Sans Serif';
    src: url('/fonts/ms-sans-serif-regular.woff2') format('woff2'),
         url('/fonts/ms-sans-serif-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    --bg-color: #0000ff;
    --bg-transition: #000022;
    --section-color: #0000ff80;
    --font-color: #fff;
    --bg-button: #fff;
    --bg-light: #fffffff0;
    --border-color: #7773e7;
    --text-button: #0000ff;

    --tag-1: cyan;
    --tag-2: chartreuse;
    --tag-3: yellow;
    --tag-4: darkorange;
    
    --section-padding: 16px;
    --grid-gutter: 16px;
    --grid-count: 12;
    --transition-ease: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-time: 0.15s;

    --cursor-default: url('/images/cursor/cursor-default.png') 0 0, auto;
    --cursor-pointer: url('/images/cursor/cursor-pointer.png') 0 0, auto;
}
@media screen and (max-width: 767px) {
    :root {
        --grid-count: 6;
    }
}

html {
    font-size: 16px;
    cursor: var(--cursor-default);
}
body {
    font-family: 'MS Sans Serif', Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--font-color);
    background-color: var(--bg-color);
    scroll-behavior: smooth;

    text-shadow: 1px 1px 0 var(--bg-color),
        -1px 1px 0 var(--bg-color),
        -1px -1px 0 var(--bg-color),
        1px -1px 0 var(--bg-color),        
        2px 2px 0 var(--bg-color),
        -2px 2px 0 var(--bg-color),
        -2px -2px 0 var(--bg-color),
        2px -2px 0 var(--bg-color);
}

a {
    cursor: var(--cursor-pointer);
}
a:active {
    transform: translate(1px,1px);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "PP Bitmap", sans-serif;
}
h1,
h2 {
    text-transform: lowercase;
    letter-spacing: -0.02em;
}

h1 {
    font-size: clamp(42px, 5.2vw, 5.2vw);
}
h2 {
    font-size: clamp(28px, 3.5vw, 3.5vw);
}

.section {
    padding-inline: var(--section-padding);
    position: relative;
    z-index: 2;
}
.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-count), 1fr);
    column-gap: var(--grid-gutter);
}
.nobreak {
    white-space: nowrap;
}

.thumb.profile { background-image: url('/images/icon/icon-profile.png'); }
.thumb.sao-paulo { background-image: url('/images/icon/icon-sao-paulo.png'); }
.thumb.codepen { background-image: url('/images/icon/icon-codepen.png'); }
.thumb.illustration { background-image: url('/images/icon/icon-illustration.png'); }
.thumb.architecture { background-image: url('/images/icon/icon-architecture.png'); }
.thumb.mail { background-image: url('/images/icon/icon-mail.png'); }

.tag.development { color: var(--tag-1); }
.tag.design { color: var(--tag-2); }
.tag.study { color: var(--tag-3); }
.tag.illustration { color: var(--tag-4); }
.tag.architecture { color: var(--tag-3); }



.pixelated-img {

    img {
        opacity: 0;
        
        &:not(.original) {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0;
            padding: 0;
            will-change: opacity;
        }

        &.original {
            animation: 0s linear 1s forwards 1 reverse hide;
        }
        
        &.pixelated {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            
            &.img1 { z-index: 5; }
            &.img2 { z-index: 4; }
            &.img3 { z-index: 3; }
            &.img4 { z-index: 2; }
            
            &.img1 { animation: 0s linear 0s forwards 1 reverse hide, 0s linear 0.5s forwards 1 normal hide; }
            &.img2 { animation: 0s linear 0s forwards 1 reverse hide, 0s linear 0.8s forwards 1 normal hide; }
            &.img3 { animation: 0s linear 0s forwards 1 reverse hide, 0s linear 0.9s forwards 1 normal hide; }
            &.img4 { animation: 0s linear 0s forwards 1 reverse hide, 0s linear 1s forwards 1 normal hide; }
        }
    }
    
    &:hover img.pixelated {
        @media screen and (min-width: 767px) {
            &.img1 { animation: 0s linear 0.5s forwards 1 normal show; }
            &.img2 { animation: 0s linear 0.4s forwards 1 normal show; }
            &.img3 { animation: 0s linear 0.3s forwards 1 normal show; }
            &.img4 { animation: 0s linear 0s forwards 1 normal show; }
        }
    }
}

.loading-placeholder {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-transition);
    z-index: 998;
    pointer-events: none;
    top: 0;
    left: 0;
}

@keyframes hide {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}
@keyframes show {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}


#wrapper-tv-effect:has(.in-view) {
    &:after,
    &:before {
        opacity: 0;
        box-shadow: none;
    }
    &:after {
        z-index: -1;
    }

    #nav-location,
    #project-close {
        opacity: 0.65;
    }
}