.extLink {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    padding-left: 1.05em;

    .thumb {
        position: absolute;
        display: flex;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        aspect-ratio: 1;
        width: 0.90em;
        height: 0.90em;
        border-radius: calc(1em / 8);
        
        background-color: var(--bg-light);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .thumb,
    .text {
        z-index: 2;
    }

    .text {
        display: inline-block;
        position: relative;
        font-weight: bold;
        font-size: 1.3em;
        line-height: 0.7em;
    }
    &:after {
        position: absolute;
        display: block;
        content: '';
        background-color: var(--bg-button);
        mix-blend-mode: multiply;
        z-index: 1;
        opacity: 0;
    
        left: -0.15em;
        top: -0.15em;
        width: calc(100% + 0.3em);
        height: calc(100% + 0.3em);
    
        clip-path: inset(8px round calc(1em / 8 + 0.05em));
    
        transition: all var(--transition-time) var(--transition-ease);
    }

    &:hover{
        text-shadow: none;
        
        &:after {
            opacity: 1;
            clip-path: inset(0 round calc(1em / 8 + 0.05em));
        }
        .text {
            color: var(--text-button);
        }
    }
}