.projectInfo {
    padding-block: calc(var(--section-padding) * 1.5);
   
    .moreInfo {

        .infoItem {

            @media screen and (min-width: 767px) {
                & {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            @media screen and (max-width: 767px) {
                & {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                }
            }

            & > div {

                padding-block: calc(var(--grid-gutter) / 2);

                @media screen and (min-width: 767px) {
                    &:not(:nth-child(n + 3)) {
                        border-bottom: 1px solid var(--border-color);
                    }
                
                }
                @media screen and (max-width: 767px) {
                    &:not(:last-child) {
                        border-bottom: 1px solid var(--border-color);
                    
                    }
                }
                
                h4 {
                    font-size: 1.5rem;
                    line-height: 1em;
                    margin-bottom: 0.2rem;
                    font-weight: bold;
                    text-transform: lowercase;
                }
                p {
                    
                    a {
                        color: var(--font-color);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
}
