.work {
    display: grid;
    gap: calc(var(--grid-gutter)* 3);
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) * 5);

    background: var(--section-color);

    @media only screen and (min-width: 980px) {
        grid-template-columns: repeat(2, 1fr);
    }

}